
body{
    background-color: rgb(168, 168, 146);
}

#first{
    width: 20%;
    height: 50px;
    margin: 15px;
    border-radius: 10%;
}

#button{
    background-color: rgb(7, 125, 136);
    margin-top: 60px;
    height: 25px;
}

input{
    
    background-color: rgb(121, 116, 107);
}

value{
    font-size: 30px;
}